<div class="account-wrap">
  <div class="account-left">
    <ul>
      <li><%= link_to t('.account'), users_account_path, class:"account-toggle" %></li>
      <li><%= link_to t('.profile'), users_profile_path, class:"account-toggle" %></li>
    </ul>
  </div>

  <div class="account-right">

  </div>



</div>

