@import "bootstrap-sprockets";
@import "bootstrap";

/* common ----------------------------------------*/
html {
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
  position:relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
  padding-bottom: 130px;/*←footerの高さ*/
  .wrap { 
    height: 100%;
  }
}
a:hover {
  text-decoration: none !important;
}
.col-blue:hover {
  color: rgb(0, 179, 211) !important;
}
.col-white:hover {
  color: white !important;
}

li {
  list-style: none;
}
.container {
  text-align: center;
}
.left-justified {
  text-align: left;
}
#full-width {
  width: 100%;
}
.text-area-field {
  vertical-align: top;

  textarea {
    height: 130px;
    padding: 10px;
  }
}
.round-image img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  80px;       /* ※縦横を同値に */
  height: 80px;       /* ※縦横を同値に */
}
.header-round-image {
  width:  50px;       /* ※縦横を同値に */
  height: 50px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
}

/* header ----------------------------------------*/
header {
  border: 1px solid black;
  height: 60px;
  background-color: black;
}
.header-logo {
  height: 100%;
  display: inline-block;
  margin-left: 18px;
}
.header-forms-area {
  /* レスポンシブで小さいサイズの時非表示にする */
  display: inline-block;
  position: absolute;
  top: 15px;
  background-color: white;
  border-radius: 5px;
}
.header-forms-keyword {
  /* レスポンシブで小さいサイズの時非表示にする */
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 420px;
  background-color: white;
  border-radius: 5px;
}
.header-search {
  margin-top: 0;
  display: inline-block; 
  border:1px solid gray;
  border-radius: 2px;
  padding-left: 5px;
  height: 32px;

  input{
    font-size: 14px;
  }
}

/* footer ----------------------------------------*/
footer {
  display: block;
  background-color: black;
  height: 130px;
  width: 100%;
  position: absolute;
  bottom: 0px; /* footerの高さの分だけ下に下げる */
}
.footer-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  color: white;
}

/*  ----------------------------------------*/
.search-form {
  border: none;
  width: 160px;
  height: 100%;
}
.header-right {
  display: block;
  height: 100%;
  float: right;    
}
.login-user-name{
  display: inline-block;
  font-size: 30px;
  color: white;
  margin-right: 10px;
}
.user-icon {
  color: gray;
  font-size: 50px;
  margin-right: 60px;
}
.header-user-image {
  margin-right: 60px;
}
.dropdown {
  display: inline-block;
  i {
      margin-top: 3px;
  }
}

/* forms ----------------------------------------*/
.form-wrap {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 60px auto;
  padding: 30px 60px;
  text-align: center;

  h1, a {
    font-size: 16px;
  }
}
.required {
  color: white;
  background-color: rgb(255, 102, 0);  
  display: inline-block;
  padding: 2px 3px;
  border-radius: 5px;
  margin-right: 10px;
}
.password-form-wrap {
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  label, i {
    font-size: 12px;
    font-weight: normal;
  }
}
.password-wrap {
  border: 1px solid rgb(221, 221, 221);
  width:460px;
  margin: 0 auto;
  padding: 0px 90px 30px 90px;
  border-radius: 5px;;

  input {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    height: 28px;
    margin-bottom: 10px;
  }
}
.password-form {
  width: 100%;
}
.password-edit-label {
  font-size:14px;
}
.form-field {
  font-size: 16px;
  /* レスポンシブ対応で〇〇以下でwidth:100%みたいにする */
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 0px 8px;
}
.input-file-field {
  margin-bottom: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
/* btn ----------------------------------------*/
.original-btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(74, 172, 252);
  width: 350px;
  padding: 8px 0px;
  margin: 20px 0px;
}
.submit-btn-profile {
  display: block;
  width: 90%;
  color: white;
  background-color: rgb(83, 178, 255);
  border-radius: 5px;
  border: none;
  height:40px;
}
.submit-btn-account {
  color: white;
  background-color: rgb(83, 178, 255);
  width:90%;
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
#setting-submit-btn { 
  /* setting-pageのsubmit-btnの共通のpadding-bottomを打ち消すため */
  padding-bottom: 0px; 
}
.password-edit-btn {
  border-radius: 5px;
  width: 100%;
  height: 28px;
  input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(83, 178, 255);
    color: white;
    width: 100%;
    margin-top: 20px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(83, 178, 255);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    height: 100%;
    transition: background-color 0.4s;
  }
  a:hover {
    background-color: grey;
  }
}
.confirm-btn {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: white;
  border: none;
}
.confirm-submit-btn {
  background-color: rgb(83, 178, 255);
  margin-top: 20px;
  transition: background-color 0.4s;
}
.confirm-submit-btn:hover {
  background-color: rgb(26, 145, 243);

}
.confirm-back-btn {
  background-color: rgb(168, 167, 167);
  transition: background-color 0.4s;
  margin-top: 10px;
}
.confirm-back-btn:hover {
    background-color: gray;;
}
/* alert ----------------------------------------*/
.notification {
  width: 100%;
  top: 0px;
  background-color: rgb(205, 108, 63);
}

/* 設定ページ */
/*
.setting-wrap {
  height: 120%;
  width: 100%;
}
*/
/*
.setting-left {
  font-size: 20px;
  width: 15%;
  height: 100%;
  border-right: 2px solid lightgray;
  padding-right: 10px;
  float: left;
}
*/
/*
.setting-toggle {
  color: black;
  width: 100%;
  display: inline-block;
  padding: 10px 0px;
}
.select-account {
  color: rgb(108, 160, 228);
  border-right: 4px solid rgb(0, 89, 255);
}
.setting-right{
  width: 85%;
  height: 100%;
  display: inline-block;
  background-color: rgb(231, 241, 245);
  text-align: center;
}
*/
/* 設定ページのアカウント画面 */
/*
.account-table {
  background-color: white;
  font-size: 16px;
  width: 60%;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  table{
    width: 100%;
  }
  th, td {
    height: 70px;
  }
}
th {
  padding-left: 20px;
  width:30%;
}
.account-table td{
  text-align: left;
}
.table-title {
  text-align: left;
  font-size: 24px;
  th {
    display: inline;
    font-weight: normal;
    vertical-align: top;
  }
}

.tr-border-bottom {
  border-bottom: 1px solid rgb(228, 224, 224);
}
.-bottom {
  border-bottom: 1px solid rgb(228, 224, 224);
}
.btn-table th{
  padding-top: 10px;
  text-align: center;

  a, input{
    color: white;
    width: 150px;
    background-color: rgb(0, 110, 255);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: normal;
    border: none;
  }
}
*/

/* 設定ページのプロフィール画面 */
/*
.profile-table {
  background-color: white;
  font-size: 16px;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;

  table{
    width: 100%;

  }
  th, td {
    height: 70px;
    padding: 20px 20px;
    text-align: left;
    vertical-align: top;
  }
}
.icon-table th{
  text-align: center;
}
.setting-user-icon {
  color: gray;
  font-size:60px;
  padding:20px;
}
*/

/* booking ----------------------------------------*/
/*
.booking-wrap {
  text-align: center;
  width: 900px;
  height: 600px;
  padding: 20px;

}
.booking-left {
  float: left;
  width: 600px;
  height: 700px;
  padding: 20px;

  border: 1px solid black;
}
.booking-table {
  border: 1px solid black;
  height: 300px;
  text-align: left;
  table {
    height: 100%;
    width:100%;
  }
}
.booking-image {
  height: 400px;
}
.height-20 {
  height: 20%;
}
.boooked-room-owner-image {
  width: 50px;
}
.booking-details-title {
  font-weight: bold;
  font-size: 26px;
}
.booking-details-content {
  font-size: 18px;
}
.booking-introduction {
  padding: 0px 20px;
  height: 60%;
  font-size:14px;
}
.booking-right {
    height:
    500px;
    border: 1px solid black;
  }

*/

/* Setting-Right ----------------------------------------*/
.setting-wrap {
  display: flex;   /*並列になる*/
  flex-wrap: wrap;  /*直下が折り返す*/
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.setting-right {
  width: 80%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding-top: 30px;
  background-color: rgb(236, 250, 250);
}
#setting-title {
  padding-top:0px;
  padding-left: 0px;
  font-size: 18px;
}
.setting-right-content {
  margin-bottom: auto;
  margin-bottom: 30%;
  padding: 10px;
  border: 1px solid rgb(221, 221, 221); /* 仮 */
  border-radius: 5px;
  box-sizing: border-box;
  width: 80%;
  display: flex;
  flex-basis: 500px;
  flex-grow: 0.3;
  background-color:white;

  ul {
    padding-left: 0px;
    width: 100%;
  }
  li {
    display: flex;   /*並列になる*/
    flex-wrap: wrap;  /*直下が折り返す*/

    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;

  }
  form {
    width: 100%;
  }
  input[type="text"],textarea {   /*入力フォーム*/
    width: 100%;
    box-sizing: border-box;   
  }
  textarea {
    height: 100px;
  }
  ul span:first-of-type {    /*見出し*/
    flex-basis: 150px;
  }
  ul span:nth-of-type(2) {
    flex-basis: 200px;
    width: 100%;
    flex-grow: 1;
  }
}
#setting-user-image {
  padding-bottom: 10px;

  i,img{
    margin: 0 auto;
    font-size: 50px;
  }
} 

/* setting-Left ----------------------------------------*/
.setting-left {
  border-right: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  width: 20%;
  display: flex;
}
#setting-toggle {     /* 選択中のリンク */
  border-right: 3px solid rgb(0, 179, 211);
  color: rgb(0, 179, 211)
}
.setting-left-content {
  width: 100%;
  padding-top: 50px;

  ul {
    /* border: 1px solid black; */
    display: flex;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;

  }
  li {
    width:90%;
    height: 50px;

  }
  a {
    color: black;
    display: block;
    height: 100%;
    padding-top:14px;
    width: 100%;
  }
}

/* booking --------------------------------------------*/
.booking-wrap {
  width: 100%;
}
.booking-content {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1000px; /* 最大幅指定 */
}
.booking-left {
  box-sizing: border-box;
  width: 70%;
  padding: 10px;
  flex-shrink: 0;
  flex-basis: 600px;
}
.booking-right{
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
}
.booking-image {
  text-align: center;
  height: 410px;
}
.booking-details {
  display: grid;
  grid-template-rows: 50px 50px 60px;
  grid-template-columns: 100px 1fr;
}
.details-icon {
  grid-row: 1/3;
  grid-column: 1/2;
  text-align: center;
  position: relative;

  img, i {
    color: gray;
    font-size: 60px;
    position: absolute;
    top:50%;
    left: 50%;
    transform : translate(-50%,-50%);
  }
}
.details-name {
  grid-row: 1/2;
  grid-column: 2/3;
  font-weight: bold;

  p {
    line-height: 50px;
  }
}
.details-address {
  grid-row: 2/3;
  grid-column: 2/3;

  p {
    line-height: 50px;
  }
}
.details-introduction {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  /* レスポンシブの時にこのdivの高さを広げないと長文だったらはみだしてしまう(grid-template-rows) */
  p {
    margin: 15px 10px;
  }
}

.booking-form{
  border: 1px solid gray;
}
#booking-form {
  width: 100%;
  border-radius: 0px;
  
  li {
    padding: 15px 0px;
  }
  input {
    width: 100%;
    border:1px solid rgb(221, 221, 221);
    border-radius: 5px;
    height:35px;
    padding-left: 10px;
  }
}
  /*
  table {
    width: 100%;
    height: 100%;

  }
  td {
    border: 1px solid rgb(225, 228, 92);
  }
*/
/* 予約済みルーム一覧 ----------------------------------------*/
.res-wrap {
  width: 100%;
  padding: 20px 10px;
}
.res-room-wrap {
  max-width: 1000px;
  min-width: 700px;
  min-width: 500px;
  padding-left: 30px;
  h4 {
    margin-bottom:20px;
  }
}

.res-content {
  table {
    width: 100%;
  }
  th {
    font-size: 10px;
    height: 30px;
    text-align: center;
    margin: 0px;
    border-top: 1px solid rgb(221,221,221);
    border-bottom:1px solid rgb(221,221,221);
  }
  td {
    height: 100px;
    box-sizing: border-box;
    padding:5px;
    border-bottom: 1px solid rgb(221,221,221);
  }
  table tr:nth-child(even) td {
    background-color: rgb(245, 245, 245); /* tableの偶数行にのみ背景色指定 */
  }
}

.res-room-image {
  width: 15%;
  text-align: center;

}
.res-room-name {
  width: 15%;
  font-weight: bold;
  
}
.res-room-introduction {
  width: 20%;
  font-size: 12px;
}
.res-amount, .res-start, .res-end {
  width: 10%;
}
.res-create-date{
  width: 20%;
}
/* confirmation */
.confirmation-wrap {
  width: 100%;

}
.confirm-content {
  width: 400px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin: 30px auto;
  padding: 4px 16px 16px 16px;
  h4, h5{
    font-weight: normal;
  }
  h4 {
    border-bottom: 1px solid rgb(221,221,221);
    padding-bottom:10px;
  }
}
.confirm-details {
  font-size: 12px;
  p {
    padding: 8px 0px;
    margin-bottom: 0px;
  }
  input[type="text"]{
    width: 100%;
    border-radius: 5px;;
    background-color: rgb(233, 232, 232);
    border: 1px solid rgb(160, 159, 159);
    height: 30px;
    padding-left:10px;
    margin-bottom: 10px;
  }
}

/* notification ----------------------------------------*/
.alert {
  height: 8px;
  font-size: 8px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ちょい足しcss ----------------------------------------*/
.border-bottom-gray {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.font-bold span:first-of-type {
  font-weight: bold;
}
